testdata/*.json
/testdata/*.zip
/extracted_resources/*.json
/extracted_resources/b64*
/pseudonymised_resources/*.json
/to_send/b64*
/to_send/*.json
test.py
specification-extraction.txt
psd_config.json
data_extraction_config.json
.env
certs/*.crt
/split_insert_bundles/*.json