name: Docker

on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+**

jobs:

  release-proj7-extract:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Prepare Version
      id: prep
      run: |
        echo ::set-output name=version::${GITHUB_REF#refs/tags/v}
    - name: Login to GitHub Docker Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/juliangruendner/pj7-data-extraction:latest
          ghcr.io/juliangruendner/pj7-data-extraction:${{ steps.prep.outputs.version }}
        push: true
    - name: Build and push Docker image dm
      uses: docker/build-push-action@v2
      with:
        context: ./dm
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/juliangruendner/pj7-data-download-upload-dm:latest
          ghcr.io/juliangruendner/pj7-data-download-upload-dm:${{ steps.prep.outputs.version }}
        push: true
